{% extends "orders/base.html" %}

{% block title %} check out {% endblock %}
{% block body %}
{% load static %}



<body>

  <div class="my-menu-flex-container">

    <table class="table-dark  text-center table-bordered table-hover " style="margin-top:10%; width:100%">
      <tr>
        <td colspan="2">
          <h4>Check Out. </h4>

          <h6> Please confirm order details</h6>
        </td>
      </tr>
      <tr>
        <td>
          {% for item in order.get_cart_ordered_items %}
      <tr>

        {%if item.menu_item.category == "Pizza" and "Topping" in item.menu_item.name %}
        {% if item.ptoppings %}
        <td>
          {{item.menu_item.sizes}}
          {{ item.menu_item.name }}

          Toppings: {{ item.ptoppings }}


        </td>
        {% endif %}
        {% endif %}


        {%if item.menu_item.category == "Pizza" and "Topping" not in item.menu_item.name %}
        <td>
          {{item.menu_item.sizes}}
          {{ item.menu_item.name }}
        </td>
        {% endif %}



        <!-- subs with no extras -->

        {% if item.menu_item.category == "Subs" and item.num_extras == 0 %}

        <td>
          {{item.menu_item.sizes}}

          {{ item.menu_item.name }}

        </td>

        {% endif %}


        {% if item.num_extras > 0 %}
        <td>
          {{item.menu_item.sizes}}
          {{ item.menu_item.name }}
          Extras: {{ item.extras }}
        </td>
        {% endif %}

        {% if item.menu_item.category != "Pizza" and item.menu_item.category != "Subs" %}
        <td>
          {% if item.menu_item.sizes%}
          {{item.menu_item.sizes}}
          {% endif %}

          {{ item.menu_item.name }}
        </td>
        {% endif %}

        {% if item.num_extras > 0 %}
        <td>{{ item.menu_item.price }}
          + {{item.extras_cost}}</td>
        {%else%}
        <td>${{ item.menu_item.price }}</td>

        {%endif%}
      </tr>
      {% endfor %}

      <tr>
        <td><strong>Order Total</strong> </td>
        <td> <strong>${{ order.get_cart_total }}</strong></td>


      </tr>

      <tr>
        <td></td>
        <td> <a <button type="submit" href="{% url 'orders:updaterecords' order.id %}" class="pull-right btn btn-primary">Checkout</button> </a>
        </td>
      </tr>
    </table>
    <!-- <form action="process_payment" method="post" id="payment-form""> -->


    <!-- </form> -->

  </div>

{% endblock %}



</body>
</html>
